<div id="search-form">
  <%=simple_form_for :q, url: search_logs_path, method: :post do |f|%>
    <%= f.input :date, label: "Select Week", as: :date %>
    <%= f.submit 'Search', class: 'button small'%>
  <% end %>
</div>

<%= pie_chart @activities.map { |activity| [activity.name, activity.logs.sum(:duration)] } %>

<% if @queried_logs != nil %>
  <%= pie_chart @total_productivity.map { |label, duration| [label, duration] } %>
  -
  <%= column_chart @queried_categories.map { |category, duration| [category, duration] }, library: {colors: ["red"]} %>
<% end %>


