<div id="search-form">
  <%=simple_form_for :q, url: search_logs_path, method: :post do |f|%>
    <%= f.input :date, label: "Select Week", input_html: {class: 'datepicker'} %>
    <%= f.submit 'Search', class: 'button small'%>
  <% end %>
</div>

<%= pie_chart @activities.map { |activity| [activity.name, activity.logs.sum(:duration)] }, library: {colors: ["#b7c11e", "#F0563D", "#00aab5", "#2E313D"]}  %>

<% if @queried_logs != nil %>
  <%= pie_chart @total_productivity.map { |label, duration| [label, duration] }%>

  <%= column_chart @queried_categories.map { |category, duration| [category, duration] },library: {hAxis: {title: "Category"}, vAxis: {title: "Hours"}} %>
<% end %>

