<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Traktivity', root_path%></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>


  <section class="top-bar-section">
  <% if user_signed_in? %>
    <ul class="left">
      <li><%= link_to 'Activities', activities_path%></li>
      <li><%= link_to 'Statements', logs_path  %></li>
      <li><%= link_to 'New Activity', new_activity_path%></li>
    </ul>
    <% end %>
    <!-- Right Nav Section -->
    <ul class="right">
      <%- if user_signed_in? -%>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %> </li>
      <%-else-%>
        <li><%= link_to 'Sign up', new_user_registration_path%></li>
        <li><%= link_to 'Sign in', new_user_session_path%></li>
      <%- end -%>
    </ul>
  </section>
</nav>

