<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tracktivity</title>

    <link href='/Users/emily6689/Library/Fonts/penn-station.regular.ttf' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav>
      <%= render 'layouts/main_navbar' %>
      <%= render 'layouts/messages' %>

      <div class="row">
        <div class="medium-1 columns"><br></div>
        <div class="small-12 medium-10 columns"><%= yield %></div>
        <div class="medium-1 columns"><br></div>
      </div>



      <%= javascript_include_tag "application" %>

      <%= yield :extra_footer %>

  </body>
</html>
